
/* font-family: 'Hachi Maru Pop', cursive;

font-family: 'Lobster', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


#wrapper {
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
    height:100vh;
    background-color: lightgoldenrodyellow
}

header {
   height: 8em;
    width: 100%;
    margin-left: 1em ;
}

h1 {
    margin-top:0.5em;
    text-align: center;
    font-family: 'Lobster', cursive, Tahoma, Verdana;
    font-size: 2.5em;
}

main div:nth-child(1){
    margin: 1em;
}

header #form{
    margin: 2em 0 ;
}

header button{
    margin-top:1em;
    border-radius: 20%;
    cursor: pointer;
    
}

header button:hover {
    box-shadow:  0 8px 16px 0 slategray;
    
}

header input, select{
    width: 35%;
    border: 1px solid grey;
}

main #message {
    height: 10vh;
}
main #message h2{
    font-size: 2.5em;
    text-align: center;
    font-family: 'Lobster', cursive, Tahoma, Verdana;
}

main .flex article {
    height: 50px;
    width: 90%;
    background-color: lightpink;
    margin-left: 1em;
    margin-bottom: 1em;
    box-shadow: 0 12px 16px 0 dimgray;
    position: relative;
    
}

main .flex h3{
    margin-left: 1em;
    font-family: 'Hachi Maru Pop', cursive;

}

.flex button{
    position: absolute;
    right: 1px;
    background-color: transparent;
    border:transparent;
    cursor: pointer;
}

.flex i{
    color: red;
} 

#search input {
    
    width: 45%;
}
#prioritySearch {
    width: 50%;
}
#prioritySearch input{
    margin-left: 2em;
}



@media(min-width: 576px){
    main .flex{
        display: flex;
        flex-wrap: wrap;
    }

    main .flex article {
        height: 70px;
        width: calc(50% - 32px);
        margin: 1em;
    }

    header input, select{
        width: 40%;
        border: 1px solid grey;
    }

    .flex button{
        position: absolute;
        right: 1px;
        bottom:1px;  
    }

}


@media(min-width: 768px){
    
    main .flex article {
        height: 250px;
        width: 200px;
       border-bottom-right-radius: 20%;
       
    }

    .flex button{
        position: absolute;
        bottom:1px;
        left:1px; 
    }
    #wrapper {
        height:100vh;
     
    }


    
}












